
        .barrage .screen {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            right: 0px;
	border-style: solid;
        }
        
        .barrage .screen .s_close {
            z-index: 2;
            top: 20px;
            right: 20px;
            position: absolute;
            text-decoration: none;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            text-align: center;
            color: #000000;
            background: #000;
            line-height: 40px;
            display: block;
        }
        
        .barrage .screen .mask {
            position: relative;
            width: 50%;
            height: 50%;
            background: red;
            opacity: 1;
            filter: alpha(opacity: 1);
          	z-index: -2;
border-style: dotted;
        }
        
        .barrage {
            display: block;
            width: 70%;
            height: 70%;
	border-style: dashed;
	z-index: 2;
        }
        
        .barrage .screen .mask div {
            position: absolute;
            font-size: 20px;
            font-weight: bold;
            white-space: nowrap;
            line-height: 40px;
            z-index: 0;
		color: #000000;
        }
        
        .barrage .send {
            z-index: 1;
            width: 100%;
            height: 55px;
            background: #000;
            position: absolute;
            bottom: 0px;
            text-align: center;
        }
        
        .barrage .send .s_text {
            width: 600px;
            height: 40px;
            line-height: 10px;
            font-size: 20px;
            font-family: "微软雅黑";
	color: #000000;
        }
        
        .barrage .send .s_btn {
            width: 105px;
            height: 40px;
            background: #22B14C;
            color: #000000;
        }
   