<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Music Wall</title>

    <% include ../partials/head %>
</head>
<body>
<%=Inf %><br>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<a href="/createparty">Create My Party Today!</a>
<% include ../partials/scripts %>

</body>
</html>
