<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Music Wall</title>

    <% include ../partials/head %>
</head>
<body>
<%=Inf %><br>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<form action="/createparty" method="POST">
<label>partyId
<input type = "text" name = "partyId" /></label>
<label>partyName
<input type = "text" name = "partyName" /></label>
<button type="submit" name="create_my_party">Create My Party</button>
</form>
<% include ../partials/scripts %>

</body>
</html>
