<!DOCTYPE html>
<html lang="en">

<head>
    
    <% include ../partials/head %>
    <style>
        body {
            padding-top: 30px;
        }
        h1,p{
            font-family: "Lucida Console", Courier, monospace;
            text-align: center;
        }
        .search-input, .footer{
            text-align: center;
        }
        
        #searchInput{
            width: 600px;
            height: 40px;
            margin: 10px 0 15px 10px;
            padding: 0 0 0 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            vertical-align: bottom;
        }
        #searchButton, #submitButton, #bulletSubmit{
            width: 65px;
            height: 40px;
            margin: 10px 0 15px 0;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            
        }
        #bulletInput{
            width: 400px;
            height: 40px;
            margin: 10px 0 15px 10px;
            padding: 0 0 0 10px;
    
            border: 1px solid #ccc;
            border-radius: 4px;
           
         
        }
        hr {
            margin-top: 0;
        }
        
        .search_results {
            text-align: center;
            height:260px;
            overflow:auto;
            background:#fff;
        }
        .result input {
            border: none;
            width: 60px;
            height: 60px;
          
            display: block;
            margin: 108px 0 0 15px;
            float: left;
        }
        .result img {
            border: none;
            float: left;
            width: 280px;
            height: 200px;
            margin: 28px;
            
        }
        .desc {
            padding-top: 90px;
            border: none;
            float: left;
            width: 260px;
            height: 250px;
            margin-left: 10px;

        } 
        .description{
            /*white-space: nowrap;      
            overflow: hidden;             
            text-overflow: ellipsis;*/
            color: dimgray;
        }
       @media screen and (max-width: 768px) {
            .search-input, .footer, .result{
                text-align: left;
                margin:0;
            }

            #searchInput{
                width: 14em;
                height: 3em;
                margin: 1em 0 1em 1em;
                padding: 0 0 0 0.5em;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                
                vertical-align: bottom;
            }
            #searchButton, #submitButton, #bulletSubmit{
                width: 5em;
                height: 3em;
                margin: 1em 0 1em 0;
                background-color: #4CAF50;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                
            }
            #bulletInput{
                width: 18em;
                height: 3em;
                margin: 1em 0 1em 1em;
                padding: 0 0 0 0.5em;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                
                vertical-align: bottom;
            }
            .search_results {
                height:16em;
                overflow:auto;
                background:#fff;
            }
            .footer {
                bottom:0;
               
            }
            .result {
                height:140px;
                overflow-y:auto;
                background:#fff;
            }
            .result input {
                border: none;
                float: left;
                width: 25px;
                height: 25px;
                margin: 45px 15px 0 15px;
            }
            .result img {
                border: none;
                float: left;
                width: 160px;
                height: 120px;
                margin: 0 10px 0 0;
                
            }
            .desc {
                border: none;
                float: left;
                width: 130px;
                height: 0;
                margin-top:-70px;

            }  
            .description{
                /*white-space: nowrap;      
                overflow: hidden;             
                text-overflow: ellipsis;*/
                color: dimgray;
            }

        }
    </style>
</head>

<body>
    <div class="wrapper">
        <h1>Add video to the music wall</h1>
        <p>Search for your favorite video or enter the name of video you wish to add.</p>


       <!--search input-->
        <div class="search-input">
            <form>
                <label for="searchInput">
                    <input type="text" id="searchInput" placeholder="Video name">

                    <input type="button" id="searchButton" value="search" >
                    <input type="button" id="submitButton" value="submit">

                </label>
            </form>
        </div>
    <hr/>





<!--search results-->
    <div class="search_results" id="search_results" >
    </div>

  </div>



    <footer>
        <div class="footer">
            <form action="/party/addcomment/<%=partyId%>" method="POST">
                <label for="bulletInput">
                    <input type="text" id="bulletInput" name="bulletInput" placeholder="Bullet...">
            <select id="commentColor" name="commentColor">
  <option value="black">black</option>
  <option value="red" selected>red</option>
  <option value="yellow">yellow</option>
  <option value="purple">purple</option>
</select>
                    <input type="submit" id="bulletSubmit" value="submit">
                </label>
            </form>
        </div>
    </footer>

    <% include ../partials/scripts %>

    <script>
                $(function() {


             $('#submitButton').click(function() {
                 var checkedBoxes = $(':checked');
                 if(checkedBoxes.length == 0){
                     alert('what ghost?');
                 }
                 var videos = [];
                 for(var i=0; i<checkedBoxes.length; i++){
                     videos.push({title: $(checkedBoxes[i]).data('title'), videoId: checkedBoxes[i].value});
                 }


                console.log(searchInput);
                $.ajax({
                    method: "POST",
                    url: "/party/addsong/<%=partyId%>",
                    dataType: "jsonp",
                    data: {videos: videos},
                    jsonp: "callback",
                    jsonpCallback: "mycallback",
                    success: function(data) {
                    }
                });
             });

            $('#searchButton').click(function() {
                var searchInput = $('#searchInput').val();
                console.log(searchInput);
                $.ajax({
                    method: "GET",
                    url: "https://www.googleapis.com/youtube/v3/search?sortorder=descending&search?&orderby=relevance&callback=YoutubeSearch&maxResults=25&part=snippet&q="
                    +searchInput+"&type=video&key=AIzaSyA-s--TP_Xbc-7Qo55-x9_8uuEkGRS93HU",
                    dataType: "jsonp",
                    jsonp: "callback",
                    jsonpCallback: "YoutubeSearch",
                    success: function(data) {
                        if (data.items.length == 0 || data.items.length == undefined) {
                            alert("Sorry, not found");
                        }else {
                            var i=0;
                            var search_results = $('#search_results');
                            search_results.empty();
                            var videoIds = [];
                            $.each(data.items, function(){
                                // console.log(data.items.id);
                                var videoId = data.items[i].id.videoId;
                                var videoTitle = data.items[i].snippet.title;
                                var videoDescription = data.items[i].snippet.description;
                                var videoImage = data.items[i].snippet.thumbnails.default.url;
                                videoIds.push(videoId);
                                // console.log(data.items[i].snippet.thumbnails.default.url);
                                //console.log(videoId);
                                var myhtml = '<label>';
                                    myhtml += '<div class="result">';
                                    myhtml += '<input name="videoId[]" type="checkbox" data-title="'+ videoTitle +'" value="'+ videoId +'"/>';
                                    myhtml += '<img src="'+ videoImage +'" alt=""/>';
                                    myhtml += '<div class="desc">';
                                    myhtml += '<p class="title">'+ videoTitle +'</p>';
                                    myhtml += '<p class="description" id="desc-'+ videoId +'"></p>'; 
                                    myhtml += '</div>';
                                    myhtml += '</div>';
                                    myhtml += '</label>';

                                search_results.append(myhtml);
                                i++;
                            });
                            
                            
                            
                            
                             $.ajax({
                                method: "GET",
                                url: "https://www.googleapis.com/youtube/v3/videos?id="
                                +videoIds.join()+"&key=AIzaSyDYwPzLevXauI-kTSVXTLroLyHEONuF9Rw&part=snippet,contentDetails",
                                dataType: "json",
                                success: function(data){
                                    for( var i=0; i< data.items.length; i++){
                                        var duration = data.items[i].contentDetails.duration;
                                    
                                        var formattedTime = duration.replace("PT","").replace("H",":").replace("M",":").replace("S","");
                                        if(duration.search("S") == -1){
                                            formattedTime = formattedTime+"00";
                                        }
                                        var videoDuration = formattedTime;
                                    
                                        // console.log(videoDuration);
                                        var resultDuration = $("#desc-"+data.items[i].id);
                                        resultDuration.append(videoDuration.toString());
                                        
                                    }
                               
                                }
  
                            });
                        }
                    }
                });
            });
            

        

    });

    </script>
</body>

</html>
