<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <header>
            <h1>Music Wall</h1>
        </header>
        <main class="row">
           
            <aside class="col-sm-6">
                <h2>Add Comment</h2>
                <hr />
                <form action="/party/<%=partyId%>" method="POST">
                    Song Url:<br>
                    <input type="text" name="Url"><br>
                    <input type="submit" value="Submit">
                </form>
            </aside>

        </main>
    </div>

    <% include ../partials/scripts %>
</body>

</html>