<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <header>
            <h1>Music Wall</h1>
        </header>
        <main class="row">
<<<<<<< HEAD
           
            <aside class="col-sm-6">
                <h2>Add Comment</h2>
                <hr />
                <form action="/party/<%=partyId%>" method="POST">
                    Song Url:<br>
                    <input type="text" name="Url"><br>
                    <input type="submit" value="Submit">
            <section class="col-sm-6">
                <h2>My Comments</h2>
            
            </section>
            <aside class="col-sm-6">
                <h2>Add Comment</h2>
                <hr />
                <form action="/" method="POST">
                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
                    </div>
                   
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <form id="form4" action="/logout" method="POST">
                    <button type="submit" id="button4">logout</button>
                </form>
            </aside>

        </main>
    </div>

    <% include ../partials/scripts %>
</body>

</html>
